@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:link, a:visited, a:active {
  text-decoration:none;
  color: black;
}
h1 {
  font-family: 'Caramel', cursive;
}

a :active { 
  text-decoration: rgb(243, 144, 243)
}

.background-pink {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(254,217,255,1) 50%, rgba(255,255,255,1) 100%);
}

.background-container {
  background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
}
.instagram-feed {
  width: 100%;
  /* height: 78vh; */
}

.btn-color-pink {
  background-color: #ffbfbf;
}

.centrar-texto {
  text-align: center;
  align-items: center;
}
/* Animaciones */
div .card {
  width: 100%;
  margin: 5%;
  transition: all 400ms;
}

div .card:hover {
transform: scale(1.15);
}



/* @media screen and (max-width: 900px) {
  .instagram-feed {
  

  }
} */



























  /* CSS Tablet */
  @media screen and (max-width:1023px) {
    /* Agregar CSS para cambiar cuando baje desde 1023 */
  }

  /* CSS Celular */
  @media screen and (max-width:767px) {
    /* Agregar CSS para cambiar cuando baje desde 767 */
  }