@import url('https://fonts.googleapis.com/css2?family=Caramel&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



a:link, a:visited, a:active {
    text-decoration:none;
}

h1 {
    font-family: 'Caramel', cursive;
}

  /* CSS Tablet */
  @media screen and (max-width:1023px) {
    /* Agregar CSS para cambiar cuando baje desde 1023 */
  }

  /* CSS Celular */
  @media screen and (max-width:767px) {
    /* Agregar CSS para cambiar cuando baje desde 767 */
  }