header {
    background-color: $colorPrincipal;
    .container {
        .row {
            .col-md-4 {
                display: flex;
                align-items: center;
                margin: auto;
                justify-content: space-around;
                a {
                    color: $colorContrastePrincipal;
                    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
                    &:hover {
                        color: $colorContrastePrincipal;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}




